[submodule "android/app/jni/SDL"]
	path = android/app/jni/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.32.x
	shallow = true
[submodule "external/NovaGL"]
	path = external/NovaGL
	url = https://github.com/efimandreev0/NovaGL.git
